In [1]:
import datetime as dt
import pandas as pd
import numpy as np
import alphalens as al
import scipy.stats as ss
import os
import sys
import matplotlib.pyplot as plt
import matplotlib.style as style
style.use('ggplot')
style.use('seaborn-poster')

mod_path = '/Users/richard.wuebker/Projects/price_data_utils'
if mod_path not in sys.path:
    sys.path.append(mod_path)
    
from data_loader import DataLoader
from mp_historical_prices import HistoricalPrices

In [2]:
dl = DataLoader(prices_dir='../../price_data_utils/prices', info_dir='../../price_data_utils/info', 
                analysis_date_str='2019-07-24', cached_dir='../../price_data_utils/cached')
dl.load_data()

Prediction Date: 2019-07-26

In [3]:
data = dl.data
data.head()

,mkt_cap,beta,book_value,sector,eps,month_ago,year_ago,prev_date,analysis_date,trade_date,pred_date,volume
ticker,,,,,,,,,,,,
CSCO,244986183680,1.028849,36804000000,Technology,2.882,56.821407,42.144276,57.709999,57.230000,56.619999,56.529999,18177000.0
SITC,2489729280,0.870377,1524945000,Real Estate,0.922,13.180000,13.610000,13.580000,13.790000,13.640000,13.640000,1757121.0
UAL,24435755008,1.278593,10320000000,Industrials,9.838,86.550003,81.830002,94.930000,95.110001,93.930000,93.360001,2344400.0
TROW,26785523712,1.029243,6311000000,Financial Services,7.586,107.059998,115.209610,110.529999,113.269997,113.919998,115.199997,1762000.0
ISRG,62586986496,1.289684,7265300000,Healthcare,10.129,525.799988,520.799988,537.789978,543.039978,531.690002,527.630005,634700.0

In [4]:
hp = HistoricalPrices(prices_dir='../../price_data_utils/prices/prices_2019-07-29')
hp.get_prices()

  0%|          | 0/966 [00:00<?, ?it/s]
  2%|▏         | 15/966 [00:00<00:06, 137.09it/s]
  3%|▎         | 27/966 [00:00<00:07, 130.76it/s]
  4%|▎         | 34/966 [00:00<00:09, 97.38it/s]
  4%|▍         | 41/966 [00:00<00:11, 81.90it/s]
  5%|▍         | 48/966 [00:00<00:13, 70.55it/s]
  6%|▌         | 54/966 [00:00<00:13, 66.06it/s]
  6%|▌         | 60/966 [00:00<00:14, 63.28it/s]
  7%|▋         | 67/966 [00:00<00:13, 64.67it/s]
  8%|▊         | 76/966 [00:01<00:12, 70.42it/s]
  9%|▊         | 83/966 [00:01<00:13, 66.87it/s]
  9%|▉         | 90/966 [00:01<00:13, 65.14it/s]
 10%|█         | 97/966 [00:01<00:13, 63.51it/s]
 11%|█         | 104/966 [00:01<00:13, 62.09it/s]
 11%|█▏        | 111/966 [00:01<00:14, 60.81it/s]
 12%|█▏        | 118/966 [00:01<00:14, 58.37it/s]
 13%|█▎        | 124/966 [00:01<00:14, 58.74it/s]
 14%|█▎        | 131/966 [00:01<00:14, 56.28it/s]
 14%|█▍        | 139/966 [00:02<00:13, 61.38it/s]
 15%|█▌        | 148/966 [00:02<00:13, 59.47it/s]
 16%|█▋        | 159/966 [00:02<00:11, 67.91it/s]
 17%|█▋        | 167/966 [00:02<00:13, 60.74it/s]
 18%|█▊        | 176/966 [00:02<00:11, 66.92it/s]
 19%|█▉        | 184/966 [00:02<00:12, 61.01it/s]
 20%|█▉        | 191/966 [00:02<00:12, 61.49it/s]
 20%|██        | 198/966 [00:02<00:13, 58.76it/s]
 21%|██        | 205/966 [00:03<00:12, 61.36it/s]
 22%|██▏       | 212/966 [00:03<00:12, 60.26it/s]
 23%|██▎       | 219/966 [00:03<00:12, 60.36it/s]
 23%|██▎       | 226/966 [00:03<00:12, 60.35it/s]
 24%|██▍       | 233/966 [00:03<00:12, 58.27it/s]
 25%|██▍       | 239/966 [00:03<00:12, 58.22it/s]
 26%|██▌       | 248/966 [00:03<00:12, 57.77it/s]
 27%|██▋       | 258/966 [00:03<00:10, 65.92it/s]
 28%|██▊       | 266/966 [00:04<00:11, 61.27it/s]
 28%|██▊       | 273/966 [00:04<00:11, 61.94it/s]
 29%|██▉       | 280/966 [00:04<00:11, 62.01it/s]
 30%|██▉       | 288/966 [00:04<00:11, 58.62it/s]
 31%|███       | 295/966 [00:04<00:10, 61.55it/s]
 31%|███▏      | 302/966 [00:04<00:11, 57.02it/s]
 32%|███▏      | 309/966 [00:04<00:11, 59.65it/s]
 33%|███▎      | 316/966 [00:04<00:11, 57.60it/s]
 33%|███▎      | 323/966 [00:05<00:11, 56.00it/s]
 34%|███▍      | 331/966 [00:05<00:10, 60.80it/s]
 35%|███▍      | 338/966 [00:05<00:10, 59.47it/s]
 36%|███▌      | 345/966 [00:05<00:10, 57.67it/s]
 36%|███▋      | 352/966 [00:05<00:10, 60.07it/s]
 37%|███▋      | 360/966 [00:05<00:10, 59.59it/s]
 38%|███▊      | 369/966 [00:05<00:10, 59.62it/s]
 39%|███▉      | 376/966 [00:05<00:09, 60.14it/s]
 40%|███▉      | 384/966 [00:06<00:09, 64.14it/s]
 41%|████      | 394/966 [00:06<00:09, 62.00it/s]
 42%|████▏     | 404/966 [00:06<00:08, 69.38it/s]
 43%|████▎     | 412/966 [00:06<00:09, 57.30it/s]
 44%|████▎     | 421/966 [00:06<00:08, 64.25it/s]
 44%|████▍     | 429/966 [00:06<00:09, 55.06it/s]
 45%|████▌     | 436/966 [00:06<00:09, 57.13it/s]
 46%|████▌     | 445/966 [00:07<00:08, 59.35it/s]
 47%|████▋     | 452/966 [00:07<00:08, 59.56it/s]
 48%|████▊     | 460/966 [00:07<00:08, 58.17it/s]
 48%|████▊     | 468/966 [00:07<00:07, 62.45it/s]
 49%|████▉     | 476/966 [00:07<00:08, 58.56it/s]
 50%|█████     | 486/966 [00:07<00:07, 66.58it/s]
 51%|█████     | 494/966 [00:07<00:08, 57.92it/s]
 52%|█████▏    | 503/966 [00:07<00:07, 64.37it/s]
 53%|█████▎    | 511/966 [00:08<00:06, 66.35it/s]
 54%|█████▎    | 519/966 [00:08<00:06, 67.08it/s]
 55%|█████▍    | 527/966 [00:08<00:06, 66.61it/s]
 55%|█████▌    | 534/966 [00:08<00:07, 59.73it/s]
 56%|█████▌    | 541/966 [00:08<00:06, 61.95it/s]
 57%|█████▋    | 548/966 [00:08<00:06, 60.57it/s]
 57%|█████▋    | 555/966 [00:08<00:06, 60.28it/s]
 58%|█████▊    | 562/966 [00:08<00:06, 60.64it/s]
 59%|█████▉    | 571/966 [00:09<00:06, 60.83it/s]
 60%|█████▉    | 578/966 [00:09<00:06, 61.35it/s]
 61%|██████    | 586/966 [00:09<00:06, 60.17it/s]
 61%|██████▏   | 593/966 [00:09<00:05, 62.70it/s]
 62%|██████▏   | 600/966 [00:09<00:06, 60.49it/s]
 63%|██████▎   | 608/966 [00:09<00:05, 60.15it/s]
 64%|██████▍   | 617/966 [00:09<00:05, 62.92it/s]
 65%|██████▍   | 625/966 [00:09<00:05, 61.45it/s]
 65%|██████▌   | 632/966 [00:10<00:05, 62.41it/s]
 66%|██████▋   | 640/966 [00:10<00:05, 60.31it/s]
 67%|██████▋   | 647/966 [00:10<00:05, 61.39it/s]
 68%|██████▊   | 655/966 [00:10<00:04, 62.51it/s]
 69%|██████▊   | 664/966 [00:10<00:04, 60.93it/s]
 70%|██████▉   | 673/966 [00:10<00:04, 66.20it/s]
 70%|███████   | 680/966 [00:10<00:04, 59.55it/s]
 71%|███████   | 688/966 [00:10<00:04, 64.38it/s]
 72%|███████▏  | 696/966 [00:11<00:04, 63.80it/s]
 73%|███████▎  | 703/966 [00:11<00:04, 63.46it/s]
 74%|███████▎  | 712/966 [00:11<00:03, 65.35it/s]
 75%|███████▍  | 720/966 [00:11<00:03, 63.02it/s]
 75%|███████▌  | 727/966 [00:11<00:04, 58.77it/s]
 76%|███████▌  | 735/966 [00:11<00:03, 63.47it/s]
 77%|███████▋  | 744/966 [00:11<00:03, 61.30it/s]
 78%|███████▊  | 752/966 [00:11<00:03, 64.72it/s]
 79%|███████▊  | 759/966 [00:12<00:03, 58.17it/s]
 80%|███████▉  | 768/966 [00:12<00:03, 65.06it/s]
 80%|████████  | 775/966 [00:12<00:03, 61.72it/s]
 81%|████████  | 782/966 [00:12<00:03, 58.44it/s]
 82%|████████▏ | 789/966 [00:12<00:03, 56.02it/s]
 82%|████████▏ | 796/966 [00:12<00:02, 59.31it/s]
 83%|████████▎ | 803/966 [00:12<00:02, 55.02it/s]
 84%|████████▎ | 809/966 [00:12<00:02, 55.66it/s]
 84%|████████▍ | 816/966 [00:13<00:02, 55.83it/s]
 85%|████████▌ | 823/966 [00:13<00:02, 57.96it/s]
 86%|████████▌ | 831/966 [00:13<00:02, 57.76it/s]
 87%|████████▋ | 837/966 [00:13<00:02, 56.60it/s]
 87%|████████▋ | 844/966 [00:13<00:02, 56.55it/s]
 88%|████████▊ | 850/966 [00:13<00:02, 53.81it/s]
 89%|████████▉ | 858/966 [00:13<00:01, 54.94it/s]
 90%|████████▉ | 865/966 [00:13<00:01, 56.73it/s]
 90%|█████████ | 873/966 [00:14<00:01, 57.62it/s]
 91%|█████████ | 880/966 [00:14<00:01, 59.79it/s]
 92%|█████████▏| 888/966 [00:14<00:01, 59.50it/s]
 93%|█████████▎| 896/966 [00:14<00:01, 59.85it/s]
 93%|█████████▎| 903/966 [00:14<00:01, 60.32it/s]
 94%|█████████▍| 910/966 [00:14<00:00, 57.25it/s]
 95%|█████████▍| 916/966 [00:14<00:00, 54.04it/s]
 96%|█████████▌| 923/966 [00:14<00:00, 56.34it/s]
 96%|█████████▋| 931/966 [00:15<00:00, 57.14it/s]
 97%|█████████▋| 938/966 [00:15<00:00, 56.65it/s]
 98%|█████████▊| 944/966 [00:15<00:00, 57.39it/s]
 99%|█████████▊| 953/966 [00:15<00:00, 58.59it/s]
 99%|█████████▉| 960/966 [00:15<00:00, 60.85it/s]
100%|██████████| 966/966 [00:15<00:00, 61.55it/s]

In [5]:
def transform_prices(df):
    prices_temp = df.pivot(index='Date', columns='ticker', values='Adj Close')
    end_date = dt.datetime.strptime('2016-01-05', '%Y-%m-%d')
    start_date = end_date - pd.DateOffset(years=5)
    prices_temp.index = pd.to_datetime(prices_temp.index)
    prices = prices_temp.loc[start_date:end_date]
    return prices.dropna(axis=1)
prices = transform_prices(hp.prices)
returns = prices.pct_change().drop(prices.index[0])
returns.head()

ticker,A,AA,AAL,AAP,AAPL,ABC,ABMD,ABT,ACC,ACGL,...,XLNX,XOM,XPO,XRAY,XRX,Y,YUM,ZBH,ZBRA,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2011-01-06,0.001932,-0.012077,0.012612,-0.032895,-0.000809,0.011607,0.001994,-0.002072,-0.013187,-0.013512,...,0.016869,0.006426,0.007634,-0.005707,0.000000,-0.004025,0.007000,-0.030951,-0.008466,-0.002811
2011-01-07,0.003375,0.003668,0.014235,0.026713,0.007162,0.002008,-0.015920,0.004152,-0.001272,-0.007597,...,-0.005640,0.005453,0.000000,-0.004019,-0.013962,-0.002607,0.012472,-0.000190,0.003202,-0.010471
2011-01-10,0.014416,0.004263,0.006141,0.007434,0.018832,-0.005726,0.013145,-0.008890,-0.007008,-0.003363,...,0.008008,-0.006085,0.037879,0.010374,0.009735,-0.000621,0.001414,0.007796,0.002926,-0.017908
2011-01-11,0.017054,-0.009703,-0.043592,-0.005935,-0.002365,0.009790,0.006986,-0.002086,-0.001604,0.017922,...,0.009931,0.007454,-0.029197,0.007416,0.006135,0.002942,-0.006453,0.035660,0.021215,0.007459
2011-01-12,0.004425,-0.005511,-0.008204,0.013394,0.008137,-0.005988,0.014866,0.003797,0.003856,0.005716,...,0.015732,0.011758,-0.018797,0.027180,0.004355,0.005770,0.004656,0.014757,0.001039,-0.011929

In [6]:
prices.tail()

ticker,A,AA,AAL,AAP,AAPL,ABC,ABMD,ABT,ACC,ACGL,...,XLNX,XOM,XPO,XRAY,XRX,Y,YUM,ZBH,ZBRA,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2015-12-29,40.859493,24.002815,42.006687,151.275085,102.306847,98.527977,92.830002,42.364773,36.184067,23.746666,...,44.716259,69.155296,27.000000,60.447250,24.969883,477.491821,49.481735,99.821342,70.269997,26.391939
2015-12-30,40.676220,23.600002,41.330719,150.479919,100.970871,98.763084,92.120003,41.856247,36.079609,23.546667,...,44.400711,68.238014,26.370001,59.959061,25.016552,475.751617,49.195137,99.529945,69.449997,26.069279
2015-12-31,40.439266,23.386749,40.896172,149.595322,99.032730,97.531143,90.279999,41.523396,35.983860,23.250000,...,43.593250,68.098228,27.250000,59.412292,24.806524,469.882141,48.688587,99.646507,69.650002,25.907946
2016-01-04,39.355980,23.007635,39.505604,151.314865,99.117409,95.800774,85.239998,39.692707,35.409374,22.950001,...,42.507366,67.670151,26.469999,57.469315,24.036428,464.809021,48.128719,98.888885,66.489998,25.348028
2016-01-05,39.220570,21.965065,39.128994,150.281174,96.633583,97.201996,85.000000,39.683453,36.218876,23.033333,...,43.138481,68.246742,26.280001,58.640961,23.989752,468.250092,48.008751,100.948074,64.820000,25.072823

# Using two years of data to calculate the factor

In [8]:
end_date = dt.datetime.strptime('2016-01-05', '%Y-%m-%d')
factor_start_date = end_date - pd.DateOffset(years=2, days=2)
factor_start_date

Timestamp('2014-01-03 00:00:00')

In [24]:
prices = transform_prices(hp.prices).dropna(axis=1)
momentum = prices.pct_change(252).dropna()
print(momentum.shape)
ranked = momentum.rank(axis=1, method='first')
ranked.head()

(1006, 773)

ticker,A,AA,AAL,AAP,AAPL,ABC,ABMD,ABT,ACC,ACGL,...,XLNX,XOM,XPO,XRAY,XRX,Y,YUM,ZBH,ZBRA,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-05,201.0,22.0,13.0,528.0,640.0,512.0,768.0,605.0,705.0,662.0,...,490.0,563.0,493.0,358.0,78.0,261.0,647.0,324.0,254.0,71.0
2012-01-06,206.0,22.0,13.0,576.0,654.0,502.0,768.0,597.0,702.0,666.0,...,466.0,543.0,503.0,361.0,76.0,269.0,650.0,372.0,249.0,71.0
2012-01-09,227.0,23.0,12.0,543.0,642.0,490.0,768.0,590.0,696.0,661.0,...,494.0,540.0,476.0,344.0,78.0,257.0,628.0,375.0,237.0,77.0
2012-01-10,216.0,20.0,10.0,523.0,617.0,509.0,768.0,602.0,705.0,666.0,...,477.0,542.0,413.0,341.0,66.0,241.0,625.0,374.0,223.0,86.0
2012-01-11,200.0,21.0,14.0,540.0,619.0,478.0,767.0,606.0,711.0,646.0,...,451.0,527.0,458.0,345.0,68.0,241.0,653.0,316.0,211.0,90.0

In [25]:
means = ranked.mean(axis=1)
stds = ranked.std(axis=1)
zscored_part_1 = ranked.subtract(ranked.mean(axis=1), axis=0)
zscored = zscored_part_1.div(zscored_part_1.std(axis=1), axis=0)
zscored.head()

ticker,A,AA,AAL,AAP,AAPL,ABC,ABMD,ABT,ACC,ACGL,...,XLNX,XOM,XPO,XRAY,XRX,Y,YUM,ZBH,ZBRA,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-05,-0.832997,-1.634644,-1.674951,0.631465,1.133055,0.559810,1.706300,0.976308,1.424156,1.231581,...,0.461283,0.788212,0.474719,-0.129876,-1.383850,-0.564288,1.164404,-0.282144,-0.595638,-1.415199
2012-01-06,-0.810604,-1.634644,-1.674951,0.846432,1.195753,0.515025,1.706300,0.940480,1.410720,1.249495,...,0.353800,0.698642,0.519503,-0.116440,-1.392806,-0.528460,1.177840,-0.067177,-0.618030,-1.415199
2012-01-09,-0.716556,-1.630166,-1.679429,0.698642,1.142012,0.461283,1.706300,0.909131,1.383850,1.227103,...,0.479197,0.685207,0.398584,-0.192575,-1.383850,-0.582202,1.079313,-0.053742,-0.671772,-1.388328
2012-01-10,-0.765820,-1.643601,-1.688386,0.609073,1.030050,0.546374,1.706300,0.962873,1.424156,1.249495,...,0.403063,0.694164,0.116440,-0.206010,-1.437591,-0.653858,1.065878,-0.058220,-0.734470,-1.348022
2012-01-11,-0.837475,-1.639123,-1.670472,0.685207,1.039007,0.407541,1.701821,0.980787,1.451027,1.159926,...,0.286623,0.626987,0.317972,-0.188096,-1.428634,-0.653858,1.191275,-0.317972,-0.788212,-1.330108

In [26]:
zscored.loc[zscored.index[0]].sort_values()

ticker
FSLR   -1.728692
SRPT   -1.724214
BAC    -1.719735
NFLX   -1.715257
DLB    -1.710778
BPOP   -1.706300
X      -1.701821
NKTR   -1.697343
AIG    -1.692864
ILMN   -1.688386
S      -1.683908
DXC    -1.679429
AAL    -1.674951
TEX    -1.670472
ETFC   -1.665994
RCL    -1.661515
JNPR   -1.657037
GS     -1.652558
TMUS   -1.648080
RIG    -1.643601
MS     -1.639123
AA     -1.634644
ARNC   -1.630166
SWKS   -1.625687
C      -1.621209
WHR    -1.616730
GM     -1.612252
MAN    -1.607773
EXEL   -1.603295
NTAP   -1.598816
          ...
PRGO    1.598816
FAST    1.603295
MA      1.607773
DISH    1.612252
TRGP    1.616730
PII     1.621209
TJX     1.625687
CFX     1.630166
CNC     1.634644
FICO    1.639123
CMG     1.643601
MKTX    1.648080
DLTR    1.652558
NEU     1.657037
ROST    1.661515
NUS     1.665994
HUM     1.670472
OKE     1.674951
ISRG    1.679429
BIIB    1.683908
WCG     1.688386
ALXN    1.692864
VFC     1.697343
MNST    1.701821
ABMD    1.706300
REGN    1.710778
DPZ     1.715257
ULTA    1.719735
JAZZ    1.724214
COG     1.728692
Name: 2012-01-05 00:00:00, Length: 773, dtype: float64

In [12]:
ranked.loc[ranked.index[0]].sort_values()

ticker
FSLR      1.0
SRPT      2.0
BAC       3.0
NFLX      4.0
DLB       5.0
BPOP      6.0
X         7.0
NKTR      8.0
AIG       9.0
ILMN     10.0
S        11.0
DXC      12.0
AAL      13.0
TEX      14.0
ETFC     15.0
RCL      16.0
JNPR     17.0
GS       18.0
TMUS     19.0
RIG      20.0
MS       21.0
AA       22.0
ARNC     23.0
SWKS     24.0
C        25.0
WHR      26.0
GM       27.0
MAN      28.0
EXEL     29.0
NTAP     30.0
        ...
PRGO    744.0
FAST    745.0
MA      746.0
DISH    747.0
TRGP    748.0
PII     749.0
TJX     750.0
CFX     751.0
CNC     752.0
FICO    753.0
CMG     754.0
MKTX    755.0
DLTR    756.0
NEU     757.0
ROST    758.0
NUS     759.0
HUM     760.0
OKE     761.0
ISRG    762.0
BIIB    763.0
WCG     764.0
ALXN    765.0
VFC     766.0
MNST    767.0
ABMD    768.0
REGN    769.0
DPZ     770.0
ULTA    771.0
JAZZ    772.0
COG     773.0
Name: 2012-01-05 00:00:00, Length: 773, dtype: float64

In [27]:
sector_data = data['sector']
sectors = sector_data.unique()
xx = prices.pct_change(252).dropna()
xx = xx.loc[:, sector_data.index].copy()
x = xx.copy()
col_filter = list(sector_data[sector_data==sectors[0]].index)
col_filter

['CSCO',
 'TER',
 'QRVO',
 'SWKS',
 'NCR',
 'MCHP',
 'CDNS',
 'PEGA',
 'GWRE',
 'DOX',
 'TDC',
 'APH',
 'ARW',
 'MSI',
 'SABR',
 'HUBB',
 'NVT',
 'DXC',
 'ADI',
 'ADBE',
 'CDK',
 'NOW',
 'ZBRA',
 'WDAY',
 'CERN',
 'ZEN',
 'FTV',
 'GRUB',
 'UBNT',
 'CDAY',
 'PINC',
 'ORCL',
 'INTU',
 'PAYC',
 'IPGP',
 'INTC',
 'DOCU',
 'GLW',
 'RNG',
 'TXN',
 'PS',
 'LOGM',
 'FTNT',
 'JNPR',
 'ADSK',
 'WDC',
 'FLIR',
 'MSFT',
 'ANSS',
 'OKTA',
 'FEYE',
 'IT',
 'ACN',
 'VRSN',
 'HPQ',
 'AMAT',
 'ESTC',
 'LFUS',
 'ATVI',
 'EA',
 'AMD',
 'KLAC',
 'NXPI',
 'MTCH',
 'NVDA',
 'SWCH',
 'TWOU',
 'TYL',
 'HPE',
 'MRVL',
 'NUAN',
 'TWLO',
 'CTXS',
 'DATA',
 'PTC',
 'PFPT',
 'VEEV',
 'RP',
 'ST',
 'FB',
 'IBM',
 'TWTR',
 'BKI',
 'IAC',
 'SYMC',
 'AVT',
 'PANW',
 'DELL',
 'MPWR',
 'CGNX',
 'LDOS',
 'MANH',
 'FICO',
 'AYI',
 'VMW',
 'AKAM',
 'ENR',
 'OLED',
 'GOOGL',
 'COMM',
 'ANET',
 'XLNX',
 'SSNC',
 'SQ',
 'FFIV',
 'GOOG',
 'EPAM',
 'NTNX',
 'ZNGA',
 'AVGO',
 'PSTG',
 'FSLR',
 'JBL',
 'ON',
 'CVET',
 'TRMB',
 'QCOM',
 'CY',
 'COHR',
 'TEAM',
 'MXIM',
 'TTWO',
 'XRX',
 'AAPL',
 'TDY',
 'SATS',
 'ZAYO',
 'GRMN',
 'SWI',
 'NATI',
 'NTAP',
 'KEYS',
 'GDDY',
 'SPLK',
 'CTSH',
 'AZPN',
 'MKSI',
 'CDW',
 'TSS',
 'CRM']

In [28]:
means = x.loc[:, col_filter].mean(axis=1)
print(means.shape)
print(x.loc[:, col_filter].shape)
print(x.loc[:, col_filter].subtract(means, axis=0).shape)
x.loc[:, col_filter] = x.loc[:, col_filter].subtract(means, axis=0)
means = xx.loc[:, col_filter].mean(axis=1)
means.head()

(1006,)
(1006, 140)
(1006, 140)

Date
2012-01-05   -0.007448
2012-01-06   -0.013622
2012-01-09   -0.001302
2012-01-10    0.006908
2012-01-11    0.007794
dtype: float64

In [29]:
x.loc[:, col_filter].head()

ticker,CSCO,TER,QRVO,SWKS,NCR,MCHP,CDNS,PEGA,GWRE,DOX,...,NTAP,KEYS,GDDY,SPLK,CTSH,AZPN,MKSI,CDW,TSS,CRM
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-05,-0.068255,0.092018,NaN,-0.420367,0.016506,0.075260,0.253842,-0.225746,NaN,0.049861,...,-0.393450,NaN,NaN,NaN,-0.109365,0.284125,0.201699,NaN,0.258681,-0.297967
2012-01-06,-0.073412,0.095723,NaN,-0.417555,0.017232,0.060638,0.220968,-0.243648,NaN,0.044624,...,-0.371836,NaN,NaN,NaN,-0.106892,0.273531,0.204961,NaN,0.250006,-0.281341
2012-01-09,-0.080796,0.088164,NaN,-0.409743,0.008536,0.060110,0.194889,-0.242412,NaN,0.062210,...,-0.386110,NaN,NaN,NaN,-0.111229,0.253378,0.224700,NaN,0.245476,-0.290288
2012-01-10,-0.087893,0.095731,NaN,-0.439716,-0.019290,0.040219,0.190026,-0.234231,NaN,0.053853,...,-0.403508,NaN,NaN,NaN,-0.080973,0.254837,0.203379,NaN,0.278813,-0.272262
2012-01-11,-0.081077,0.098355,NaN,-0.437405,-0.014323,0.026787,0.200243,-0.237047,NaN,0.032365,...,-0.411535,NaN,NaN,NaN,-0.077057,0.229952,0.202945,NaN,0.284567,-0.257936

In [32]:
xx.loc[:, col_filter].head()

ticker,CSCO,TER,QRVO,SWKS,NCR,MCHP,CDNS,PEGA,GWRE,DOX,...,NTAP,KEYS,GDDY,SPLK,CTSH,AZPN,MKSI,CDW,TSS,CRM
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-05,-0.075703,0.084570,NaN,-0.427815,0.009058,0.067812,0.246394,-0.233194,NaN,0.042413,...,-0.400899,NaN,NaN,NaN,-0.116813,0.276677,0.194251,NaN,0.251233,-0.305415
2012-01-06,-0.087034,0.082101,NaN,-0.431177,0.003610,0.047016,0.207346,-0.257270,NaN,0.031002,...,-0.385458,NaN,NaN,NaN,-0.120514,0.259909,0.191339,NaN,0.236384,-0.294963
2012-01-09,-0.082099,0.086861,NaN,-0.411045,0.007233,0.058807,0.193587,-0.243714,NaN,0.060908,...,-0.387413,NaN,NaN,NaN,-0.112532,0.252075,0.223398,NaN,0.244173,-0.291590
2012-01-10,-0.080984,0.102639,NaN,-0.432807,-0.012382,0.047128,0.196934,-0.227322,NaN,0.060761,...,-0.396599,NaN,NaN,NaN,-0.074064,0.261745,0.210287,NaN,0.285721,-0.265353
2012-01-11,-0.073282,0.106149,NaN,-0.429611,-0.006528,0.034582,0.208038,-0.229252,NaN,0.040159,...,-0.403740,NaN,NaN,NaN,-0.069262,0.237747,0.210739,NaN,0.292362,-0.250142

In [38]:
y = x.rank(axis=1, method='first')
y.loc[y.index[0]].sort_values()

ticker
FSLR      1.0
SRPT      2.0
BAC       3.0
NFLX      4.0
DLB       5.0
BPOP      6.0
X         7.0
NKTR      8.0
AIG       9.0
ILMN     10.0
S        11.0
AAL      12.0
DXC      13.0
TEX      14.0
ETFC     15.0
RCL      16.0
GS       17.0
JNPR     18.0
TMUS     19.0
RIG      20.0
MS       21.0
AA       22.0
ARNC     23.0
C        24.0
WHR      25.0
SWKS     26.0
GM       27.0
MAN      28.0
EXEL     29.0
HIG      30.0
         ...
HTA       NaN
STOR      NaN
INFO      NaN
NCLH      NaN
ESI       NaN
TEAM      NaN
ALLY      NaN
LSXMA     NaN
VOYA      NaN
POST      NaN
TRU       NaN
VICI      NaN
NWSA      NaN
MIK       NaN
ZAYO      NaN
HLT       NaN
SWI       NaN
FND       NaN
PEN       NaN
KEYS      NaN
TRCO      NaN
GDDY      NaN
SPLK      NaN
MSG       NaN
ADT       NaN
DOW       NaN
CDW       NaN
CPRI      NaN
Z         NaN
SNDR      NaN
Name: 2012-01-05 00:00:00, Length: 944, dtype: float64

In [45]:
def create_factor(prices, data, smoothed=False):

    # demean by sector
    sector_data = data['sector']
    index_ = sector_data.index.intersection(prices.columns)
    sector_data = sector_data.loc[index_]
    prices = prices.loc[:, index_].copy() # to use only the stocks that are in sector_data
    df = prices.pct_change(252).dropna()
    sectors = sector_data.unique()
    
    # demean by sector
    for sector in sectors:
        col_filter = sector_data[sector_data==sector].index
        means = df.loc[:, col_filter].mean(axis=1)
        df.loc[:, col_filter] = df.loc[:, col_filter].subtract(means, axis=0)
        
    ranked = df.rank(axis=1, method='first')
    means = ranked.mean(axis=1)
    stds = ranked.std(axis=1)
    demeaned = ranked.subtract(means, axis=0)
    zscored = demeaned.div(stds, axis=0)
    return zscored

In [46]:
prices = transform_prices(hp.prices)
df = create_factor(prices, data)
df.head()

ticker,CSCO,UAL,TROW,ISRG,NVR,PRGO,LECO,TPR,DVN,CR,...,PGR,WAT,NNN,IEX,BWA,NUS,NWL,UAA,BLK,PPL
Date,,,,,,,,,,,,,,,,,,,,,
2012-01-05,-0.445943,-1.328634,-0.206881,1.691824,-0.376983,1.581488,1.144740,0.735576,-1.236687,1.057390,...,0.285036,-0.726381,0.142518,-0.142518,-0.965443,1.622864,-1.117156,1.213700,0.156310,-0.193089
2012-01-06,-0.459735,-1.379205,-0.165505,1.687227,-0.588461,1.521722,1.135545,0.753965,-1.296452,1.052793,...,0.367788,-0.597655,0.197686,-0.170102,-1.002222,1.586085,-1.084974,1.291855,0.239062,-0.174699
2012-01-09,-0.496514,-1.448165,-0.271244,1.664240,-0.740173,1.521722,1.186116,0.753965,-1.176921,1.034403,...,0.349399,-0.570071,0.285036,-0.128726,-0.956249,1.590683,-1.029806,1.347023,0.188491,0.059766
2012-01-10,-0.533292,-1.512528,-0.137920,1.645851,-0.896483,1.558501,1.140143,0.556279,-1.241284,1.048196,...,0.441345,-0.593058,0.321814,-0.216075,-0.519500,1.517125,-1.080377,1.273466,0.137920,-0.004597
2012-01-11,-0.514903,-1.457360,-0.280438,1.641254,-0.882691,1.498736,1.094169,0.280438,-1.264271,1.029806,...,0.519500,-0.588461,0.326412,-0.206881,-0.478124,1.517125,-1.002222,1.342426,0.137920,-0.128726

In [42]:
df.loc[df.index[0]].sort_values()

ticker
FSLR   -0.722947
SRPT   -0.648148
BAC    -0.562746
NFLX   -0.558783
DLB    -0.543179
BPOP   -0.540625
X      -0.538852
NKTR   -0.529412
AIG    -0.527066
ILMN   -0.522727
S      -0.515152
AAL    -0.507207
DXC    -0.504903
TEX    -0.495333
ETFC   -0.475550
RCL    -0.464161
GS     -0.450108
JNPR   -0.447673
TMUS   -0.438289
RIG    -0.432923
MS     -0.430320
AA     -0.429955
ARNC   -0.429955
C      -0.425874
WHR    -0.422724
SWKS   -0.420367
GM     -0.417652
MAN    -0.416676
EXEL   -0.415829
HIG    -0.399693
          ...
CLH     0.523695
PRGO    0.527344
TYL     0.528485
FAST    0.532241
MA      0.534281
DISH    0.543198
TRGP    0.546952
PII     0.549743
TJX     0.563034
CFX     0.565194
CNC     0.574713
CMG     0.585882
FICO    0.586586
MKTX    0.591625
DLTR    0.593894
NEU     0.618646
ROST    0.627920
NUS     0.671656
HUM     0.680815
OKE     0.697334
ISRG    0.726273
BIIB    0.728554
WCG     0.741914
ALXN    0.749879
VFC     0.760961
MNST    0.806390
DPZ     1.000599
ULTA    1.015064
JAZZ    1.090772
COG     1.224589
Name: 2012-01-05 00:00:00, Length: 753, dtype: float64

In [39]:
df.loc[:, 'BAC']

Date
2012-01-05   -0.505101
2012-01-06   -0.511884
2012-01-09   -0.515373
2012-01-10   -0.508742
2012-01-11   -0.496011
2012-01-12   -0.506090
2012-01-13   -0.510102
2012-01-17   -0.515031
2012-01-18   -0.496635
2012-01-19   -0.489694
2012-01-20   -0.495729
2012-01-23   -0.467875
2012-01-24   -0.450326
2012-01-25   -0.434127
2012-01-26   -0.423294
2012-01-27   -0.422832
2012-01-30   -0.447804
2012-01-31   -0.446895
2012-02-01   -0.453580
2012-02-02   -0.453676
2012-02-03   -0.454359
2012-02-06   -0.429234
2012-02-07   -0.443621
2012-02-08   -0.420450
2012-02-09   -0.421546
2012-02-10   -0.414711
2012-02-13   -0.410524
2012-02-14   -0.425404
2012-02-15   -0.434753
2012-02-16   -0.424124
                ...
2015-11-20   -0.053230
2015-11-23   -0.071830
2015-11-24   -0.066751
2015-11-25   -0.065579
2015-11-27   -0.065248
2015-11-30   -0.070896
2015-12-01   -0.056654
2015-12-02   -0.065199
2015-12-03   -0.070706
2015-12-04   -0.061211
2015-12-07   -0.079035
2015-12-08   -0.081033
2015-12-09   -0.063642
2015-12-10   -0.070155
2015-12-11   -0.073137
2015-12-14   -0.069042
2015-12-15   -0.043561
2015-12-16   -0.033360
2015-12-17   -0.052362
2015-12-18   -0.056468
2015-12-21   -0.056824
2015-12-22   -0.059658
2015-12-23   -0.059939
2015-12-24   -0.071221
2015-12-28   -0.077098
2015-12-29   -0.082553
2015-12-30   -0.088945
2015-12-31   -0.089761
2016-01-04   -0.094598
2016-01-05   -0.093318
Name: BAC, Length: 1006, dtype: float64